<!-- Banner @s -->
<div class="header-banner bg-primary">
<div class="nk-banner">
    <div class="banner banner-fs banner-single">
        <div class="banner-wrap">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-10 col-md-10 col-xl-9">
                        <div class="banner-caption tc-light text-center">
                            <div class="cpn-title">
                                <h1 class="title title-xl-s3 title-semibold">Is an application for cryptocurrency developers. </h1>
                            </div>
                            <div class="cpn-text cpn-text-center">
                                <p class="lead">Powerful Ai system learns user behavior, makes market judgments. Gives you an overview of the transactions of BTC, ETH, Forex, Stock</p>
                            </div>
                            <div class="cpn-btns">
                                <ul class="btn-grp d-flex justify-content-center">
                                
                                    

                                    <li><a href="/airdrop" class="btn btn-md btn-round btn-with-icon btn-light">
                                        <span>Airdrop</span> 
                                        <em class="icon fas fa-angle-double-right"></em>
                                    </a></li>

                                    <li><a href="/trade" class="btn btn-md btn-round btn-with-icon btn-light">
                                        <span>Trader</span> 
                                        <em class="icon fas fa-angle-double-right"></em>
                                    </a></li>

                                    <li><a href="/presale" class="btn btn-md btn-round btn-with-icon btn-light">
                                        <span>Join Pre-Sale</span> 
                                        <em class="icon fas fa-angle-double-right"></em>
                                    </a></li>

                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div>
            <div class="banner-social-wrap text-center">
                <ul class="banner-social banner-social-vertical">
                    <%if(social.facebook){ %><li><a href="<%- social.facebook %>"  target="_bank"><em class="fab fa-facebook-f"></em></a></li><%}%>
                    <%if(social.twitter){ %><li><a href="<%- social.twitter %>"  target="_bank"><em class="fab fa-twitter"></em></a></li><%}%>
                    <%if(social.youtube){ %><li><a href="<%- social.youtube %>"  target="_bank"><em class="fab fa-youtube"></em></a></li><%}%>
                    <%if(social.github){ %><li><a href="<%- social.github %>"  target="_bank"><em class="fab fa-github"></em></a></li><%}%>
                    <%if(social.bitcoin){ %><li><a href="<%- social.bitcoin %>"  target="_bank"><em class="fab fa-bitcoin"></em></a></li><%}%>
                    <%if(social.medium){ %><li><a href="<%- social.medium %>"  target="_bank"><em class="fab fa-medium-m"></em></a></li><%}%>
                    <%if(social.telegram){ %><li><a href="<%= social.telegram%>" target="_bank"><em class="social-icon fab fa-telegram"></em></a></li><%}%>
                

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- .nk-banner -->
</div>


