<ul class="social justify-content-center"> 
   <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%=shareurl%>" class="share facebook" target="_blank" title="Share on Facebook"><i class="social-icon ti ti-facebook"></i></a></li>
   <li><a href="https://twitter.com/intent/tweet?source=<%=source%>&amp;text=<%=shareurl%>" class="share twitter" target="_blank" title="Share on Twitter"><i class="social-icon fab fa-twitter"></i></a></li>
   <li><a href="https://plus.google.com/share?url=<%=shareurl%>" class="share google" target="_blank" title="Share on Google+"><i class="social-icon ti ti-google"></i></a></li>
   <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<%=shareurl%>&amp;title=<%=title%>&amp;summary=<%=description%>&source=<%=source%>" class="share linkedin" target="_blank" title="Share on LinkedIn"><i class="social-icon ti ti-linkedin"></i></a></li>
   <li><a href="https://www.tumblr.com/share/link?url=<%=shareurl%>&amp;name=<%=name%>&amp;description=<%=description%>" class="share tumblr" target="_blank" title="Share on Tumblr"><i class="social-icon ti ti-tumblr"></i></a></li>
   <li><a href="https://vk.com/share.php?url=<%=shareurl%>" class="share vk" target="_blank" title="Share on VK"><i class="social-icon ti ti-flickr-alt"></i></a></li>
</ul>
