<%- include("./components/banner-pages.html",{
    name : "AIRDROP PROGRAM", 
    description : "<div class='btn-group btn-group-xs btn-round' role='group'><a href='/airdrop/create' class='btn  btn-primary btn-with-icon'><span>Create Airdrop</span></a>  <a href='/airdrop?fillter=live' class='btn btn-outline btn-primary btn-with-icon'><span>Live </span></a>  <a href='/airdrop?fillter=scam' class='btn btn-outline btn-primary btn-with-icon'><span>Scam</span></a> <a href='/airdrop?fillter=vote' class='btn btn-outline btn-primary btn-with-icon'><span>Vote</span></a></div>"
}) %>

<section class="bg-white">
    <div class="container">
        
        <div class="nk-block nk-block-token">
            <div class="row">
            <% items.forEach(function(data, index){ %>
                <div class="col-12 col-md-4 mb-3">
                    <a href="/airdrop/<%=data.name%>-<%=data.id%>.html">
                    <div class="card">
                        
                        <img src="/upload/airdrop/<%=data.banner%>" align="right" class="card-img-top">
                        <div class="card-body">

                            <h4><%=data.name%></h4>
                            <em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><br>
                            Active : Payment<br>
                            
                            <em class="ti ti-calendar"></em> Start : <%=data.start_date%><br>
                            <em class="ti ti-calendar"></em> End : <em class="ti ti-starts"></em> <%=data.end_date%><br>
                            Status : Airdrop Live
                            
                            
                        </div>
                    </div>
                    </a>
                </div>
            <% }) %>
            </div>
        </div>
            
    </div>
</section>