<%- include("./components/banner-pages.html",{name : "AIRDROP PROGRAM", "description" : "<a href='/airdrop/create' class='btn btn-primary btn-round btn-with-icon' href='/'>Create Airdrop</a>"}) %>

<section class="bg-white">
    <div class="container">
        
        <div class="nk-block nk-block-token">
            <div class="row">
            <% items.forEach(function(data, index){ %>
                <div class="col-12 col-md-4 mb-3">
                    <a href="/airdrop/<%=data.id%>">
                    <div class="card">
                        
                        <img src="/upload/banner.png" align="right" class="card-img-top">
                        <div class="card-body">

                            <h4><%=data.name%></h4>
                            <em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><em class="ti ti-star"></em><br>
                            Active : Payment<br>
                            
                            <em class="ti ti-calendar"></em> Start : <%=data.start_date%><br>
                            <em class="ti ti-calendar"></em> End : <em class="ti ti-starts"></em> <%=data.end_date%><br>
                            Status : Airdrop Live
                            
                            
                        </div>
                    </div>
                    </a>
                </div>
            <% }) %>
            </div>
        </div>
            
    </div>
</section>