<%- include("./components/banner-pages.html",{name : "SIGNALS AI PROGRAM", "description" : "<div class='btn-group btn-group-xs btn-round' role='group'><a href='/airdrop/create' class='btn  btn-primary btn-with-icon'><span>Crypto</span></a>  <a href='/airdrop?fillter=live' class='btn btn-outline btn-primary btn-with-icon'><span>Forex </span></a>  <a href='/airdrop?fillter=scam' class='btn btn-outline btn-primary btn-with-icon'><span>Stock</span></a> <a href='/airdrop?fillter=scam' class='btn btn-outline btn-primary btn-with-icon'><span>Copy Trade</span></a></div>"}) %>

<section class="bg-white">
    <div class="container">
        
        <div class="nk-block nk-block-token">
            <div class="row">
            <% items.forEach(function(data, index){ %>
                <div class="col-12 col-md-3 mb-3">
                    <div class="card">
                        <img src="/upload/trader/<%=data.banner%>" class="card-img-top">
                        <div class="card-body">
                            
                                <h4><%=data.name%></h4>
                                Win : <%=data.win%><br>
                                Loss : <em class="ti ti-starts"></em> <%=data.loss%><br>
                                Signals : <em class="ti ti-report"></em> <%=data.signals%><br>
                                Last Active : <em class="ti ti-starts"></em> <%=data.updateDate%><br>
                                <a class="btn btn-primary btn-block" href="/trade/<%=data.id%>">Signals</a>
                            
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
            
    </div>
</section>